h1 {
  text-align: center;
}

form {
  max-width: 25rem;
  margin: var(--space-8) auto;
  padding: var(--space-4);
  background-color: var(--color-primary-200);
  border-radius: var(--border-radius-medium);
  text-align: center;
  background-image: linear-gradient(
    to right bottom,
    rgb(245, 221, 172),
    rgb(241, 213, 153)
  );
  box-shadow: var(--shadow-medium);
}

form a {
  color: var(--color-primary-200-contrast);
}

form a:hover,
form a:active {
  color: var(--color-gray-700);
}
